.skills__container {
  width: 80%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  list-style: none;
  padding: 0;
  z-index: 1;
}
