@import url('./__logo/header__logo.css');
@import url('./__menu/header__menu.css');
@import url('./__menu-button/header__menu-button.css');
@import url('./__menu-item/header__menu-item.css');
@import url('./__menu-list/header__menu-list.css');

.header {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  box-sizing: border-box;
  z-index: 1;
  border-bottom: 1px solid #86C232;
  background-color: rgba(0, 0, 0, .7);
}
